body {
  background-color: bisque;
}

.instructions {
  color: #808080;
  font-style: italic;
}

.lista {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.task-button {
  border-radius: 10px;
}

button, .completed {
  cursor: pointer;
}

button#criar-tarefa {
  background-color: lime;
  border-color: lime;
}

button#apaga-tudo {
  background-color: red;
  border-color: red;
}

button#remover-finalizados {
  background-color: aquamarine;
  border-color: aquamarine;
}