body {
    display: flex;
    width: 100 vw;
    height: 100 vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em
}

#funcionamento {
    font-size: 0.5em;
}

#taskplace {
    background-color: blueviolet;
}

li {
    cursor: pointer;
    width: 200px;
    height: 20px;
   

}

button {
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    
}

.incompleta {
    text-decoration: none;

}
