body{
    background-color: rgb(11, 192, 11);
}

li {
    cursor: pointer;
}

#funcionamento{
    margin-left: 0px;
    opacity: 50%;
}

#texto-tarefa{
    margin-left: 50px;
}

#tarefas-ordenadas{
    margin-left: 25px;
}

#criar-tarefa{
    background-color: rgb(17, 89, 223);
    width: 150px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#excluir{
    background-color: rgb(161, 4, 4);
    width: 50px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#subir{
    background-color: rgb(228, 89, 9);
    width: 50px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#descer{
    background-color: rgb(228, 89, 9);
    width: 50px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#Limpar-Completos{
    background-color: rgb(14, 130, 224);
    width: 190px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#apaga-tudo{
    background-color: rgb(161, 4, 4);
    width: 150px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#Salva-Lista{
    background-color: rgb(7, 207, 67);
    width: 150px;
    height: 30px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#funçoes{
    margin-left: 50px;
}

#cabeçalho{
    font-size: 24px;
    margin-top: 100px;
    margin-left: 50px;
}

#tudo{
    background-color: white;
    border-radius: 15px;
    margin-right: 300px;
    margin-left: 50px;
    margin-bottom: 100px;
}
