body {
    display: flex;
    width: 100 vw;
    height: 100 vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    
}

#funcionamento {
    font-size: 0.7em;
}

header {
    font-size: 1.6em

}

#taskplace {
    
}

#container {
    background-color: rgba(68, 68, 68, 0.466);
    border: 2px solid rgb(128,128,128);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: 400px;
}

li {
    cursor: pointer;
    width: 200px;
    height: 20px;
   

}

#criar-tarefa {     
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    
}



.selected {
    background-color: rgb(128,128,128);
}
