
body {
  background-color: black;
  margin: 0;
}

header {
  background-image: linear-gradient(#012626, #01403a, #035951);
  border: 2px solid #012626;
  color: #add4d9;
  font-family: Roboto, sans-serif;
  height: 150px;
  margin: auto;
  text-align: center;
  width: 600px;
}

.background-model {
  background-image: linear-gradient(#04d99d, #03a688, #057e72);
  border: 2px solid #011f1f;
  height: 40%;
  margin: auto;
  width: 600px;
}

.botao-model {
  background-color: #024b68;
  border-color: #01425c;
  color: white;
  font-weight: bold;
  margin: 2px;
}

.lista-style {
  color: #011d1d;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.completed {
  text-decoration: line-through solid black;
}

.item {
  border: 1px solid black;
  cursor: pointer;

}

.marcador {
  background-color: grey;
}
