html, body{
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(43, 99, 255);
  color: white;
}

h1{
  font-family: 'Baloo Paaji', cursive;
  font-size: 40px;
}

#container, #funcionamento, #title{
  text-align:center;
}

#criar-tarefa, #apaga-tudo, #remover-finalizados{
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #108cc6;
  color: rgb(43, 99, 255);
  width: 100px;
  height: 45px;
  font-size: 14px;
  display: inline-block;
  margin: auto;
  text-decoration: none;
}

#criar-tarefa, #apaga-tudo, #remover-finalizados:hover {
  cursor: pointer;
}


#texto-tarefa{
  margin-bottom:30px;
  width:500px;
  height:40px;
  border-radius:5px;
  font-size: 24px;
}

#listaPai{
  background-color: white;
  padding: 5px 0 10px 0;
  color:black;
  font-size: 18px;
  margin:0 auto;
  margin-top: 30px;
  width: 960px;
  min-height:300px;
  border-radius: 10px;
  
}

li{
  border-bottom: 1px solid rgb(184, 190, 184);
  cursor: pointer;
  font-size: 24px;
}

.selected{
  background-color: rgb(128,128,128);
}

.completed{
  text-decoration: line-through;
}