body {
  background-color: cadetblue;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
  margin-top: 5px;
}

.quadro {
  background-color: chartreuse;
  border-radius: 10px;
  height: 350px;
  margin-left: 20px;
  padding: 10px;
  width: 660px;
}
