
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: url("images/icons8-ios-20.png"),pointer;
}

body {
    background-color: rgb(230, 238, 167);
}

.seta {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

.marcado {
    background-color: rgb(128, 128, 128);
}

