*{
  padding: 0px;
  margin: 0px
}

header {
 padding: 30px;
}

#box-main {
  border: 1px solid red;
  width: 660px;
  margin: 30px auto;
}

#texto-tarefa {
  margin: 0px 30px;
}

li {
  margin: 0px 45px;
  cursor: pointer;
  padding: 5px 0;
  background-size: 570px 10px;
}

button:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.selecionado {
  background-color: rgb( 128 , 128 , 128 );
}

#botoes {
  width: 600px;
  margin: 50px 0px 30px 30px;
  display: flex;
  justify-content: space-between;
}

#mover-baixo img {
  transform: rotate(180deg);
}

#botoes button {
  height: 30px;
  padding: 0px 10px;
  border-radius: 5px;
}

#lista-tarefas {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
