#funcionamento{

}
#texto-tarefa{

}
#lista-tarefas{

}
#criar-tarefa{
    cursor: pointer;
}

#lista-tarefas li{
    cursor: pointer;
}
#remover-finalizados{
    cursor: pointer;
}
#apaga-tudo{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}