button {
    background-color: chocolate;
    box-shadow: 1px 1px 2px black;
    color: whitesmoke;
    cursor: pointer;
  }
  
  li {
    cursor: pointer;
    margin: 2px;
    width: 40%;
  }
  
  .selected {
    background-color: rgb(128, 128, 128);
  }
  
  .completed {
    text-decoration: line-through;
  }