body {
  background-color: black;
  margin: 0;
}

header {
  background-image: linear-gradient( lightseagreen, darkcyan);
  border: 2px solid darkslategray;
  color: darkslategray;
  font-family: Roboto, sans-serif;
  height: 150px;
  margin: auto;
  text-align: center;
  width: 600px;
}

.background-model {
  background-image: linear-gradient( lightseagreen, darkcyan);
  border: 2px solid darkslategray;
  margin: auto;
  width: 600px;
}

.botao-model {
  background-color: powderblue;
  border-color: paleturquoise;
  color: darkslategray;
  margin: 2px;
}

.lista-style {
  color: darkslategray;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.completed {
  text-decoration: line-through solid black;
}

.item {
  border: 1px solid black;
  cursor: pointer;

}

.marcador {
  background-color: grey;
}
