body {
    background-color: darkslategray;
    margin: 0;
}
header {
    background-color: white;
    text-align: center;
}
.main-content {
    text-align: center;
}
button, li {
    cursor: pointer;
}