body {
  background-color: black;
  margin: 0;
  padding: 0;
}
button {
  background-color: rgb(108, 247, 103);
  border-color: black;
  color: white;
  cursor: url("pointer/pointer.png"), pointer;
  text-transform: uppercase;
}
header {
  background-color: rgb(108, 247, 103);
  margin-top: 0;
  padding-top: 0;
}
h1 {
  color: white;
  height: 50px;
  text-align: center;
}
.cursor {
  cursor: pointer;
}
label {
  color: white;
  text-transform: uppercase;
}
li {
  color: white;
   cursor: pointer;
}
.large {
  transform: scale(1.3);
}
.marcado {
  background-color: rgb( 1208, 128, 128);
}
.cursor {
  background-color: rgb(128, 128, 128);
}
.completed {
  text-decoration: line-through;
}