body {
  background-color: darkslategrey;
}

#funcionamento {
  color: #808080;
  font-style: italic;
}

.lista {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#criar-tarefa, #apaga-tudo, #remover-finalizados {
  border-radius: 10px;
}

button, .completed {
  cursor: pointer;
}

#criar-tarefa {
  background-color: lime;
  border-color: lime;
}

#apaga-tudo {
  background-color: red;
  border-color: red;
}

#remover-finalizados {
  background-color: darkslategray;
  border-color: darkslategray;
}