.botao:hover {
    cursor: pointer;
}

.unchecked {
    background-color: white;
}

.checked {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}